body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-top: 46px;
}


nav li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dateslider-box {
  font: 15px "DIN Pro Medium", Arial, Helvetica, sans-serif;
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  padding: 10px;
  margin-top: 50px;
}

.dateslider-box .dateslider-inner {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.dateslider-box input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

#amount {
  border: 0;
  color: #707070;
  font-weight: bold;
}

.toggle-box {
  font: 12px "DIN Pro Medium", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  text-align: right;
  margin-top: 50px;
}

.info-box {
  font: 15px "DIN Pro Medium", Arial, Helvetica, sans-serif;
  color: #707070;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info-text {
  display: none;
}

.info-box:hover {
  background-color: white;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: auto;
}

.info-box:hover .info-text {
  display: inline-block;
  font: 15px "DIN Pro Medium", Arial, Helvetica, sans-serif;
  font-size: 12px;
  bottom: 40px;
  left: 10px;
}

.mapboxgl-popup {
  max-width: none;
  font: 12px/20px Arial, Verdana, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: .6em;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 80%;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-inline-start: 1em;
  padding: 0;
}

img {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 5%;
}

.sources {
  margin: 2%;
}

.sources p {
  font-family: Tahoma, Geneva, Verdana, sans-serif
}

.sources h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sources h1,
h3,
li,
table {
  font-family: Tahoma, Geneva, Verdana, sans-serif
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: white;
}

nav li {
  display: inline;
  float: left;
  font: 15px "DIN Pro Medium", Verdana, Helvetica, sans-serif;
}

nav li .active {
  font-weight: bold;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #c9c9c9
}

table,
th,
td {
  border-style: solid;
}

th,
td {
  padding-left: 10px;
  padding-right: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tract-map {
  flex: 30%;
}

.deed-details {
  flex: 70%;
}

.archive-image {
  display: block;
  margin: auto;
  align-self: center;
}

@media screen and (max-width: 700px) {
  .flex {   
    flex-direction: column;
  }
}

/* Style the Image Used to Trigger the Modal */
.map-image {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


/* The Modal (background) */
.image-viewer {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.full-image {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.full-image, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .full-image {
    width: 100%;
  }
}

@media only screen and (max-width: 700px){
    .archive-image {
      width: 100%;
    }
}